<div class="register-window">
  <div class="register-text">
    <h3>Make a Library.</h3>
    <p>A Few clicks away from creating your collection of Books</p>
  </div>
  <div class="register-form">
    <h2>Welcome to <span>The Book Bin</span></h2>
    <form action="" [formGroup]="loginForm">
      <label for=""
        >Email
        <p *ngIf="isValid('email')" class="error">Email is required</p>
        <input formControlName="email" type="text" />
      </label>
      <label for=""
        >Password
        <p *ngIf="isValid('password')" class="error">Password is required</p>
        <input formControlName="password" type="text" />
      </label>
    </form>
    <button (click)="onLogin()" class="sign-up">Log in</button>
    <div class="sign-in-up-btns">
      <div class="register-div">
        <p>Don't have an account?</p>
        <button (click)="closeWindow('register')">Register here</button>
      </div>
    </div>
  </div>
  <i (click)="closeWindow('close')" class="fa fa-times" aria-hidden="true"></i>
</div>
