<div class="container">
  <div class="navigation-bar">
    <div class="logo">
      <h3>The Book Bin</h3>
    </div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a>Shop</a></li>
        <li><a routerLink="/ebooks">Ebooks</a></li>
        <li><a href="">Membership</a></li>
      </ul>
    </div>
    <div class="nav-btns">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <p>17</p>
      <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
      <button *ngIf="!isUserLoggedIn" (click)="onLogin()">Log in</button>
      <button *ngIf="isUserLoggedIn">Vikas</button>
      <i class="fa fa-moon" aria-hidden="true"></i>
    </div>
  </div>

  <app-register-user
    (newItemEvent)="showOrHideWindow($event)"
    *ngIf="openRegistrationWindow === 'true'"
  ></app-register-user>

  <app-login
    (newItemEvent)="showOrHideWindow($event)"
    *ngIf="openLoginWindow === 'true'"
  ></app-login>

  <div class="introduce">
    <div class="introduce-text">
      <h1>What Book Are You Looking For?</h1>
      <p>Not Sure What To Read Next? Explore Our Catalog</p>
      <p>Of Public Domains Books With Our Editors</p>
      <div class="btn-wrapper">
        <button
          *ngIf="!isUserLoggedIn"
          (click)="onRegisterNow()"
          class="btn-explore"
        >
          Register Now
        </button>
        <button
          *ngIf="isUserLoggedIn"
          (click)="onRegisterNow()"
          class="btn-explore"
        >
          Explore Now
        </button>
        <i
          (click)="onRegisterNow()"
          class="fa fa-long-arrow-right"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div class="introduce-image"></div>
  </div>
</div>

<div class="design-bars">
  <div class="bar-white"></div>
  <div class="bar-yellow"></div>
</div>

<div class="container">
  <h1 class="primary-heading">Top Trending Books</h1>
</div>
