<div class="container">
  <div class="navigation-bar">
    <div class="logo">
      <h3>The Book Bin</h3>
    </div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/ebooks">Ebooks</a></li>
        <li><a href="">Membership</a></li>
      </ul>
    </div>
    <div class="nav-btns">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <p>17</p>
      <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
      <button class="log-in-btn" *ngIf="!isUserLoggedIn" (click)="onLogin()">
        Log in
      </button>
      <button class="user-btn" *ngIf="userName">
        {{ userName }} <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button
        class="register-btn"
        *ngIf="!isUserLoggedIn"
        (click)="onRegisterNow()"
      >
        Register
      </button>
      <i class="fa fa-moon" aria-hidden="true"></i>
    </div>
  </div>

  <app-register-user
    (newItemEvent)="showOrHideWindow($event)"
    *ngIf="openRegistrationWindow === 'true'"
  ></app-register-user>

  <app-login
    (userNameEvent)="setUserName($event)"
    (newItemEvent)="showOrHideWindow($event)"
    *ngIf="openLoginWindow === 'true'"
  ></app-login>
</div>
<router-outlet></router-outlet>
