<div class="register-window">
  <div class="register-text">
    <h3>Make a Library.</h3>
    <p>A Few clicks away from creating your collection of Books</p>
  </div>
  <div class="register-form">
    <h2>Welcome to <span>The Book Bin</span></h2>

    <form action="" [formGroup]="userForm">
      <label for=""
        >Email
        <p *ngIf="isValid('email')" class="error">Email is required</p>
        <input formControlName="email" type="text" />
      </label>
      <label for=""
        >User Name
        <p *ngIf="isValid('userName')" class="error">User name is required</p>
        <input formControlName="userName" type="text" />
      </label>
      <label for=""
        >Password
        <p *ngIf="isValid('password')" class="error">Password is required</p>
        <input formControlName="password" type="password" />
      </label>
      <label for=""
        >Confirm Password
        <p *ngIf="isValid('confirmPassword')" class="error">
          Password doesn't match
        </p>
        <input formControlName="confirmPassword" type="password" />
      </label>
    </form>
    <button (click)="onRegister()" class="sign-up">Sign up</button>
    <div class="sign-in">
      <p>Already have an account?</p>
      <button (click)="closeWindow('login')">Sign in</button>
    </div>
  </div>
  <i (click)="closeWindow('close')" class="fa fa-times" aria-hidden="true"></i>
</div>
