.dash-board {
  display: flex;
  background-color: #f8edff;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.panel {
  padding: 10px 100px;
  width: 100%;
  height: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: #f8edff;
}

.col {
  width: 49%;
  height: auto;
  background-color: #fff;
}

.books-row {
  margin-top: 20px;
  height: auto;
  background-color: #fff;
}

.heading-row {
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #9772fb;
}

table {
  width: 100%;
  text-align: left;
  padding: 10px;
}
table th {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #f8edff;
}
table td {
  font-size: 12px;
  padding: 5px 0;
  border-bottom: 1px solid #f8edff;
  animation: fromright 0.3s;
}
.panel h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}
.panel button {
  background: none;
  margin-right: 10px;
  padding: 0;
  width: 60px;
  height: 20px;
  background-color: #9772fb;
  border: 2px solid #9772fb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.panel button:hover {
  background-color: transparent;
  color: #000;
}
