.ebook-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.genres {
  width: 20%;
}
.genres .active {
  background-color: #9772fb;
}
.ebooks {
  width: 80%;
}
.genres ul {
  padding: 0;
}
.genres ul li {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  width: 85%;
}

.genres button {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  text-align: left;
  transition: 0.5s;
  position: relative;
}

.genres button:hover {
  background-color: #e5dbff;
}

.grid-c {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-template-columns: 133px 133px 133px; */
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  padding: 20px;
}

.item {
  height: 350px;
  width: 230px;
  animation: popup 0.5s;
}

.item-img {
  margin-left: 30px;
  margin-top: 10px;
  width: 180px;
  height: 200px;
  background-color: #ebeff7;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.item-img:hover {
  background-color: #e5dbff;
}
.item-img img {
  position: absolute;
  top: -20px;
  margin-left: 20px;
  width: 140px;
  height: 180px;
}
.item-text {
  padding: 0 10px 0 30px;
}
.item-text h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1rem;
}
.item-text p {
  line-height: 0.5;
  margin-top: 0;
  padding: 0;
  font-size: 12px;
}
.item-text .price {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #f32424;
}
.stars {
  display: flex;
  justify-content: left;
}
.fa-star {
  font-size: 10px;
  color: #f7c00a;
  margin-right: 5px;
}

.add-to-cart {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: #ffffd9;
  color: #000;
  transition: 0.3s;
}
.add-to-cart:hover {
  background-color: #e5dbff;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  height: auto;
  background-color: #e5dbff;
  z-index: 100;
  padding: 5px 10px;
  border: 1px solid #764af1;
  animation: fromright 0.3s;
}

.success-message p {
  color: #541690;
}

.fa-check-circle {
  font-size: 2rem;
  color: #541690;
  margin-right: 10px;
}
