<div *ngIf="!emptyCart" class="container">
  <h3>Your cart</h3>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>BOOK</th>
      <th>PRICE</th>
      <th>QUANTITY</th>
      <th>TOTAL</th>
    </tr>
    <tbody>
      <tr *ngFor="let book of favoriteBooks">
        <td>
          <i
            (click)="deleteFromFav(book)"
            class="fa fa-trash"
            aria-hidden="true"
          ></i>
        </td>
        <td>
          <img src="{{ book.imagePath }}" alt="" />
        </td>
        <td>{{ book["bookName"] }}</td>
        <td>{{ book["price"] }}</td>
        <td>1</td>
        <td>{{ book["price"] }}</td>
      </tr>
    </tbody>
  </table>
  <div class="total">
    <div class="cart-total">
      <p>CART TOTAL</p>
    </div>
    <div class="total-price">
      <p>${{ cartTotal }}</p>
    </div>
  </div>
  <div class="check-out-btn">
    <button (click)="checkOut()">PROCEED TO CHECKOUT</button>
  </div>
</div>

<div *ngIf="emptyCart" class="container">
  <div class="no-items-parent">
    <div class="no-items"></div>
  </div>
</div>
