table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

img {
  height: 60px;
  width: 50px;
}

th {
  background-color: #f7fcff;
  padding: 10px;
  border: 1px solid #ebebeb;
  font-size: 0.8rem;
  font-weight: 600;
}

tbody tr {
  border: 1px solid #ebebeb;
  padding: 5px;
}
tbody td {
  border: 1px solid #ebebeb;
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

tbody td:nth-child(1) {
  text-align: center;
}
.check-out-btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.check-out-btn button {
  padding: 10px 20px;
  background-color: palevioletred;
  border: none;
}
