<div class="container">
  <div class="introduce">
    <div class="introduce-text">
      <h1>What Book Are You Looking For?</h1>
      <p>Not Sure What To Read Next? Explore Our Catalog</p>
      <p>Of Public Domains Books With Our Editors</p>
      <div class="btn-wrapper">
        <button class="btn-explore">Explore Now</button>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="introduce-image"></div>
  </div>
</div>

<div class="design-bars">
  <div class="bar-white"></div>
  <div class="bar-yellow"></div>
</div>

<div class="container">
  <div class="introduce">
    <div class="club-img"></div>
    <div class="club-text">
      <h1>Book Club Meetup.</h1>
      <p>
        Meet Kindred Book Lovers In A Local Meetup Book Club Fiction Or
        Non-Fiction, Paperback Or Hardcover You'll Read A New Book Every Month.
      </p>
      <div class="btn-wrapper">
        <button class="btn-explore">Explore Now</button>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
