<div class="container">
  <div class="introduce">
    <div class="introduce-text">
      <h1>What Book Are You Looking For?</h1>
      <p>Not Sure What To Read Next? Explore Our Catalog</p>
      <p>Of Public Domains Books With Our Editors</p>
      <div class="btn-wrapper">
        <button routerLink="/ebooks" class="btn-explore">Explore Now</button>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="introduce-image"></div>
  </div>
</div>

<div class="design-bars">
  <div class="bar-white"></div>
  <div class="bar-yellow"></div>
</div>
<div class="fairs">
  <div class="fairs-text">
    <h1>ONLINE BOOK FAIRS 2022</h1>
    <p>
      Our Authors Are Passionate About Their Work And Want To Tell You More
      About Their Books Than You Can Get Anywhere Else.
    </p>
    <div class="btn-wrapper-fairs">
      <button routerLink="/ebooks" class="btn-fairs">Explore Now</button>
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="design-bars">
  <div class="bar-yellow"></div>
  <div class="bar-white"></div>
</div>

<div class="container">
  <div class="club">
    <div class="club-img"></div>
    <div class="club-text">
      <h1>Book Club Meetup.</h1>
      <p>
        Meet Kindred Book Lovers In A Local Meetup Book Club Fiction Or
        Non-Fiction, Paperback Or Hardcover You'll Read A New Book Every Month.
      </p>
      <p>Watch your favorite authors live showing their talents.</p>
    </div>
  </div>
</div>
