<div class="container">
  <div class="introduce">
    <div class="introduce-text">
      <h1>What Book Are You Looking For?</h1>
      <p>Not Sure What To Read Next? Explore Our Catalog</p>
      <p>Of Public Domains Books With Our Editors</p>
      <div class="btn-wrapper">
        <button class="btn-explore">Explore Now</button>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="introduce-image"></div>
  </div>
</div>

<div class="design-bars">
  <div class="bar-white"></div>
  <div class="bar-yellow"></div>
</div>
<div class="fairs">
  <div class="fairs-text">
    <h1>ONLINE BOOK FAIRS 2022</h1>
    <p>
      Our Authors Are Passionate About Their Work And Want To Tell You More
      About Their Books Than You Can Get Anywhere Else.
    </p>
    <div class="btn-wrapper">
      <button class="btn-explore">Explore Now</button>
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="container">
  <div class="club">
    <div class="club-img"></div>
    <div class="club-text">
      <h1>Book Club Meetup.</h1>
      <p>
        Meet Kindred Book Lovers In A Local Meetup Book Club Fiction Or
        Non-Fiction, Paperback Or Hardcover You'll Read A New Book Every Month.
      </p>
      <div class="btn-wrapper">
        <button class="btn-explore">Register Now</button>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<!-- =============================== Footer =============================== -->
<footer>
  <div class="footer-logo">
    <div class="logo"></div>
  </div>
  <div class="footer-div">
    <div class="my-account">
      <p>THE BOOK BIN</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Wishlist/Cart</a></li>
        <li><a href="#">E-Books</a></li>
        <li><a href="#">Frequently Asked Question</a></li>
      </ul>
    </div>
    <div class="policies">
      <p>POLICIES</p>
      <ul>
        <li><a href="#">Payment Options</a></li>
        <li><a href="#">Terms & Conditions of Use</a></li>
        <li><a href="#">Terms & Conditions of Membership Program</a></li>
        <li><a href="#">Offer Terms & Conditions</a></li>
        <li><a href="#">Returns & Exchange Policy</a></li>
      </ul>
    </div>
    <div class="contact-about">
      <div class="contact">
        <p>CONTACT US</p>
        <ul>
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Store Locations</a></li>
          <li><a href="#">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="social">
      <ul>
        <p>SOCIAL</p>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">YouTube</a></li>
      </ul>
    </div>
  </div>
</footer>
