/* ===================================== design bar ===================================== */
.design-bars {
  display: flex;
}
.bar-white {
  height: 30px;
  width: 50%;
  background-color: #f4f0ff;
}
.bar-yellow {
  height: 30px;
  width: 50%;
  background-color: #541690;
}

/* ===================================== introduce section ===================================== */

.introduce {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.introduce-text {
  margin-top: 50px;
  width: 50%;
}
.introduce-image {
  height: 450px;
  width: 450px;
  background: url("./images/bg-book-light.png");
  background-size: cover;
  background-position: center;
}

.introduce-text h1 {
  font-family: "Cinzel", serif;
  font-size: 3.2rem;
  font-weight: 500;
}
.introduce-text p {
  line-height: 0.5;
}

.btn-wrapper {
  margin-top: 50px;
  border: 2px solid #000;
  display: flex;
  width: 33%;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
}
.btn-wrapper:hover {
  width: 40%;
}
.btn-explore {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.fa-long-arrow-right {
  font-size: 2rem;
  font-weight: 200;
  padding: 5px;
}
.btn-wrapper .fa-long-arrow-right {
  background-color: #000;
  color: #fff;
  border-left: 2px solid #000;
}
/* ===================================== introduce section ===================================== */
.primary-heading {
  font-family: "Cinzel", serif;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}

/*  */
.club {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.club-img {
  margin: 40px 0;
  height: 350px;
  width: 350px;
  background: url("./images/educator-night.png");
  background-size: cover;
  background-position: center;
}

.club-text {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  width: 50%;
}
.club-text h1 {
  font-family: "Cinzel", serif;
  font-size: 3.2rem;
  font-weight: 500;
}

.fairs {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f32424;
  height: auto;
  padding: 100px 0;
  background: url("./images/book-bg-200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  /* background-attachment: fixed; */
}

.fairs-img {
  width: 30%;
  background-color: green;
  height: 50vh;
}

.fairs-text {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 40%;
}
.fairs-text h1 {
  font-family: "Cinzel", serif;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.fairs-text p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}

.btn-wrapper-fairs {
  margin-top: 50px;
  border: 2px solid #fff;
  display: flex;
  width: 33%;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
}

.btn-wrapper-fairs:hover {
  width: 40%;
}

.btn-wrapper-fairs .fa-long-arrow-right {
  background-color: #fff;
  color: #000;
  border-left: 2px solid #fff;
}
.btn-fairs {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.df {
  height: 40vh;
  width: 100%;
  background-color: #f32424;
}

@media screen and (max-width: 600px) {
  .introduce {
    margin-top: 120px;
    display: block;
  }

  .introduce-text {
    margin-top: 20px;
    width: 100%;
  }
  .introduce-image {
    height: 300px;
    width: 300px;
    background: url("./images/bg-book-light.png");
    background-size: cover;
    background-position: center;
  }

  .introduce-text h1 {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  .introduce-text p {
    line-height: 1.2;
    font-size: 12px;
    text-align: center;
  }

  .btn-wrapper {
    margin-top: 20px;
    width: 55%;
    margin-left: 20%;
  }
  .btn-wrapper:hover {
    width: 60%;
  }
  .btn-explore {
    padding: 5px 10px;
  }

  .primary-heading {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  /*  */
  .club {
    margin-top: 20px;
    display: block;
    height: auto;
    width: 100%;
  }
  .club-img {
    margin: 40px 0;
    height: 300px;
    width: 300px;
    background: url("./images/educator-night.png");
    background-size: cover;
    background-position: center;
  }

  .club-text {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    width: 100%;
  }
  .club-text h1 {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: 500;
  }

  .fairs {
    padding: 80px 0;
    height: 200px;
  }
  .fairs-text {
    margin-left: 80px;
    margin-top: 0;
  }
  .fairs-text h1 {
    font-size: 2rem;
  }
}
